

.bubble {
    position: relative;
    font-family: sans-serif;
    width: 50%;
    border-radius: 40px;
    text-align: center;
    @apply bg-purple-500 text-white
    
  }
  
  .bubble-bottom-left:before {
    content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid rgb(168 85 247);
  border-right: 12px solid transparent;
  border-top: 12px solid rgb(168 85 247);
  border-bottom: 20px solid transparent;
  left: 50%;
  bottom: -24px;
    
  }
  