.ticketSytem{
    overflow: hidden;
}
.ticket{
    transform: translateY(-510px);
    animation-duration: 3s;
    animation-delay: 500ms;
    animation-name: print;
    animation-fill-mode: forwards;
}
@keyframes print {
    0% {
      transform: translateY(-510px);
    }
    35% {
      transform: translateY(-395px);
    }
    70% {
      transform: translateY(-140px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
.ticketTop{
    background: white;
    position: relative;
}
.ticketTop::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius:0% 100% 100% 0% / 1% 100% 0% 99% ;
    @apply bg-purple-700
}
.ticketTop::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
    @apply bg-purple-700
}

/* // BOTTTOM  */
.ticketBottom{
    background: white;
    position: relative;
}
.ticketBottom::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius:100% 0% 100% 0% / 0% 0% 100% 100% ;
    @apply bg-purple-700;
}
.ticketBottom::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 100% 0% 0% 100% / 0% 100% 0% 100% ;
    @apply bg-purple-700
}
/* // FONT  */
.fontStyleTitle {
    @apply text-base text-purple-700 font-bold;
}
.fontStyleInfo{
    @apply text-lg font-medium
}